# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
venv/
sebastian-venv/
.ipynb_checkpoints/

# Data
data/
logs/
img/
*.png
*.out

# AudioMAE specific paths
ckpt/

# Other system-specific or IDE files
.DS_Store
.vscode/
